/* FULL SCREEN CENTER */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #005bea, #00c6ff);
  padding: 20px;
}

/* CARD */
.login-card {
  width: 380px;
  padding: 35px 30px;
  border-radius: 18px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* ICON */
.login-avatar {
  background-color: #005bea !important;
  width: 70px !important;
  height: 70px !important;
  margin: 0 auto 15px auto;
}

/* TITLE */
.login-title {
  font-weight: 700;
  margin-bottom: 20px;
  color: #003b88;
}

/* INPUTS */
.login-input .MuiInputBase-root {
  border-radius: 10px !important;
}

/* BUTTON */
.login-btn {
  background-color: #005bea !important;
  padding: 12px !important;
  border-radius: 10px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  margin-top: 15px !important;
}
