.login-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.login-card {
  width: 350px;
  padding: 25px;
  border-radius: 20px;
  background: white;
}

.login-avatar {
  background-color: #1976d2 !important;
  margin: auto;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.login-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.login-input {
  margin-bottom: 10px;
}

.login-btn {
  background-color: #1976d2 !important;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
}
